<p id="notice"><%= notice %></p>

<h1 class= "text-center">Devices</h1>
<img class="mx-auto d-block" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTwy8eZV_IMeCkPAr3_aGZsT8DDSQok2uMaOIHuqX0-UfREohIN&usqp=CAU" alt="Devices">

<table>
  <thead>
    <tr>
      <h1>Device name:</h1>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.device_name %></td>
        <td><%= link_to 'Show', device, :class => "btn btn-danger btn-sm" %></td>
        <td><%= link_to 'Edit', edit_device_path(device), :class => "btn btn-danger btn-sm" %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Device', new_device_path, :class => "btn btn-danger btn-sm" %> |
<%= link_to 'Back Games', games_path, :class => "btn btn-danger btn-sm" %>
