<p id="notice"><%= notice %></p>
<h1>Device Info: </h1>
<table>
  <thead>
    <tr>
      <th>Device name</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @device.device_name %></td>
      </tr>
  </tbody>
</table>


<br>
<%= link_to 'Edit Device', edit_device_path(@device), :class => "btn btn-danger btn-sm" %> <br><br>
<%= link_to 'Back Devices', devices_path, :class => "btn btn-danger btn-sm" %> |
<%= link_to 'Back Games', games_path, :class => "btn btn-danger btn-sm" %>
