<p id="notice"><%= notice %></p>

<h1 class= "text-center">Games</h1>
<p class="text-center"> Click on a game to see current devices.</p>
<img class="mx-auto d-block" src="https://cdn1.jigidi.com/thumbs/P7R5L79C/l" alt="Games">
<br>
<table>
  <thead>
    <tr>
      <h1>Game name:</h1>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.game_name %></td>
        <td><%= link_to 'Show', game, :class => "btn btn-danger btn-sm" %></td>
        <td><%= link_to 'Edit', edit_game_path(game), :class => "btn btn-danger btn-sm" %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path, :class => "btn btn-danger btn-sm" %> <br>
<%= link_to 'Back Devices', devices_path, :class => "btn btn-danger btn-sm" %>
