<p id="notice"><%= notice %></p>
<h1>Game Info: </h1>
<table>
  <thead>
    <tr class="text-info">
      <th>Game name:</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @game.game_name %></td>
      </tr>
  </tbody>
</table>

<br>
<h1>Device Info:</h1>
<table>
  <thead>
    <tr class="text-info">
      <th>Device name:</th>
    </tr>
  </thead>
  <tbody>
    <% @devices = @game.devices %>
    <% @devices.each do |o| %>
      <tr>
        <td><%= o.device_name %></td>
        <td><%= link_to 'Edit', edit_device_path(o), :class => "btn btn-danger btn-sm" %></td>
        <td><%= link_to 'Destroy', o, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Device', new_device_path, :class => "btn btn-danger btn-sm" %> <br><br>
<%= link_to 'Edit Game', edit_game_path(@game), :class => "btn btn-danger btn-sm" %> |
<%= link_to 'Back Games', games_path, :class =>  "btn btn-danger btn-sm" %>
