<% content_for :content do %>
<!DOCTYPE html>
<html>
  <head>
    <title>Gamer App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !flash[:alert].nil? %>
    <p class="my_alert"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
<% end %>
<%= render template: "layouts/application" %>
